# Example .env file
POSTGRES_URL=postgresql://youruser@localhost:5432/basketcase #for localhost,

MONGODB_URL="mongodb+srv://yourUserName:password@capstone.99m74qm.mongodb.net/?appName=Capstone" #yours might look different
#local is: MONGO_URI=mongodb://localhost:27017 
MONGODB_DATABASE=basketcase

PORT=8000
